@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

section {
  position: fixed;
  height: 100vh;
}

h2 {
  padding: 5px;
  margin: 5px;
  color: darkcyan;
  font-size: 15px;
}

.time {
  color: grey;
  font-weight: lighter;
  font-size: 12px;
}

.highlighted {
  background-color: #ccc;
}

h1 {
  position: absolute;
  top: calc((12vh - 22px) / 2);
  font-size: 22px;
  color: darkcyan;
}

/* Header */

.header {
  background-color: #ccc;
  height: 12vh;
}

.logo {
  position: absolute;
  top: calc((12vh - 56px) / 2);
  left: calc((12vh - 56px) / 2);
  width: 56px;
  height: 56px;
  background-color: darkcyan;
}

.logo:first-child {
  width: 56px;
  height: 56px;
  border: 3px dotted orange;
  border-radius: 50%;
}

#fav-button {
  margin: calc((12vh - 24px) / 2) 6px;
  color: darkcyan;
  float: right;
  cursor: pointer;
}

/* Channel */
.channels {
  width: 28vw;
  border-right: 1px solid grey;
}

.channels h1 {
  left: 12vh;
}

.floating-action-button {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: darkcyan;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 #aaa;
  font-size: 36px;
  color: white;
  text-align: center;
  position: absolute;
  top: calc(12vh - 21px);
  right: 22px;
  cursor: pointer;
}

.channels h2 {
  text-transform: uppercase;
}

.channel-title {
  margin: 18px;
  font-size: 15px;
}

.channel-list li {
  height: 10vh;
  list-style-type: none;
  padding: calc((10vh - 16px) / 2);
  cursor: pointer;
}

.channel-list li:hover {
  background-color: #eee;
}

i {
  position: relative;
  top: -4px;
  float: left;
  color: grey;
}

.channels .time {
  float: right;
}

/* Chat */
.chat {
  left: calc(28vw + 1px);
  width: calc(100vw - 28vw);
}

.chat h1 {
  left: calc((12vh - 56px) / 2);
}
.chat .header {
  margin-bottom: 20px;
}

button {
  background-color: darkcyan;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.chat-bubble {
  padding: 10px;
  border-radius: 3vh;
  border-top-left-radius: 3px;
  margin: -3px 100px 0 30px;
  background-color: lightgray;
  font-size: 14px;
}

.account_circle {
  color: #333;
  float: left;
  margin-right: 20px;
}

.user-message .account_circle {
  float: right;
  margin-right: 0;
}

.user-message .chat-bubble {
  border-top-left-radius: 3vh;
  border-top-right-radius: 5px;
  background-color: darkcyan;
  color: white;
  margin-right: 30px;
  margin-left: 100px;
}

.chat-bubble h2 {
  display: none;
}
.message-box {
  margin: 10px;
}
.input-box {
  position: fixed;
  top: calc(100vh - 52px);
  height: 52px;
  width: 78vw;
  background-color: lightgrey;
}

.emticon-button {
  display: block;
  float: left;
  padding: 8px;
  margin: 6px;
  background-color: darkcyan;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 #aaa;
  color: white;
  text-align: center;
  cursor: pointer;
}

.input-box-text input {
  float: left;
  margin: 6px;
  padding: 0 10px;
  font-size: 14px;
  width: calc(78vw - 195px);
  height: 40px;
  border: 0;
  outline-width: 1;
  outline-color: grey;
  border-radius: 10px;
}
.button {
  display: block;
  float: left;
  padding: 8px;
  margin: 6px;
  color: darkcyan;
  cursor: pointer;
}

.chat .time {
  margin: 0 30px;
}

.chat .user-message .time {
  text-align: right;
}
